body {
	align-items: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-image: url(https://cssanimation.rocks/images/random/space2.jpg);
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	height: 100%;
	width: 100%;
	justify-content: center;
}

a {
	color: rgb(255, 246, 236);
	text-decoration: none;
}

a:hover {
	color: rgb(247, 240, 99);
	text-shadow: 1px 1px 2px rgb(8, 8, 8), 0 0 1em rgb(182, 178, 246),
		0 0 0.2em rgb(250, 217, 244);
}

.weatherApp {
	display: center;
	border-radius: 60%;
	background: center / contain no-repeat
		url(https://cssanimation.rocks/images/random/earth.png);
	box-shadow: 2px 5px 40px rgba(233, 184, 48, 0.699);
	margin: 100px auto;
	max-height: 500px;
	max-width: 500px;
	min-height: 500px;
	min-width: 500px;
	text-align: center;
}
.pinpoint {
	font-size: 20px;
	margin: 1px auto;
}
.searchbar {
	background-color: lightyellow;
	border: thin;
	border-radius: 200px;
	height: 20px;
	margin-bottom: 25px;
	margin-top: 30px;
	text-align: center;
	width: 120px;
}
.searchButton {
	font-size: 30px;
	margin-top: 1px;
	margin-bottom: 5px;
	line-height: 1;
}
.today {
	border-radius: 100px;
	backdrop-filter: blur(1px);
	box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0);
	font-weight: 600;
	max-height: 50%;
	max-width: 30%;
	margin: 25px auto;
}
.date {
	color: rgb(244, 240, 228);
	text-shadow: 1px 1px 2px rgb(33, 0, 181), 0 0 1em black, 0 0 0.2em black;
	font-size: 18px;
	line-height: 1.2;
	margin-top: 10px;
}
.time {
	color: rgb(244, 240, 228);
	text-shadow: 1px 1px 2px rgb(33, 0, 181), 0 0 1em black, 0 0 0.2em black;
	font-size: 15px;
	line-height: 1.2;
}
.city {
	border-radius: 50px;
	backdrop-filter: blur(1px);
	box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0);
	color: rgb(2, 2, 53);
	text-shadow: 1px 1px 2px gold, 0 0 1em rgb(187, 187, 243),
		0 0 0.2em rgb(240, 241, 161);
	font-size: 50px;
	line-height: 0.5;
	max-height: 100%;
	max-width: 100%;
	margin: 10px auto;
	padding-bottom: 5px;
	text-transform: capitalize;
	width: 350px;
}
.tempToday {
	border-radius: 50px;
	backdrop-filter: blur(1px);
	box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0);
	color: rgb(2, 2, 53);
	text-shadow: 1px 1px 2px gold, 0 0 1em rgb(187, 187, 243),
		0 0 0.2em rgb(240, 241, 161);
	font-size: 35px;
	line-height: 1;
	margin: 10px auto;
	max-height: 100%;
	max-width: 30%;
}
.tempDetail {
	color: rgb(130, 158, 241);
	font-size: 12px;
	position: relative;
	bottom: 15px;
}
.cityDetails {
	border-radius: 50px;
	backdrop-filter: blur(1px);
	box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0);
	color: rgb(244, 240, 228);
	text-shadow: 1px 1px 2px rgb(33, 0, 181), 0 0 1em black, 0 0 0.2em black;
	font-size: 14px;
	list-style: none;
	line-height: 1.2;
	margin: 10px auto;
	max-height: 100%;
	max-width: 30%;
	padding-right: 20px;
}
.myInfo {
	color: rgb(251, 249, 249);
	font-size: 90%;
	margin-top: 200px;
	text-align: center;
}
.meLink {
	color: rgb(254, 253, 149);
	text-shadow: 1px 1px 2px rgb(212, 0, 255), 0 0 1em rgb(67, 229, 18),
		0 0 0.2em blue;
	font-family: monospace;
	text-decoration: none;
}
