body {
	align-items: center;
	background-attachment: fixed;
	display: flex;
	font-family: "Open Sans", sans-serif;
	height: 100%;
	justify-content: center;
}

.weatherApp {
	border: thick double #5b87ff;
	border-radius: 100%;
	margin: 30px 10px auto;
	max-height: 400px;
	max-width: 400px;
	min-height: 400px;
	min-width: 400px;
	padding: 10px auto;
	text-align: center;
}

.today {
	margin-top: 20px 20px auto;
}

.city {
	color: blue;
	font-size: 40px;
	font-weight: bold;
	text-transform: capitalize;
	text-shadow: 4px 4px 5px grey;
}

.temperatureToday {
	font-size: 30px;
}

.TempDetail {
	font-size: 10px;
	text-decoration: none;
	position: relative;
	bottom: 10px;
}

.cityDetails {
	font-size: 13px;
	list-style: none;
	line-height: 1.2;
}

.myInfo {
	font-size: 70%;
	position: relative;
	top: 14px;
}

.meLink {
	font-family: monospace;
	font-size: 80%;
	text-decoration: none;
	position: relative;
	bottom: 0px;
}
